<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.bin.mapper.msg.HisMsgMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.bin.entity.msg.HisMsg">
        <!--@Table his_msg hm -->
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="msg" property="msg"/>
        <result column="role" property="role"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, msg, role
    </sql>

    <select id="historyMsg" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM his_msg
        <if test="id != null">
            WHERE id &lt; #{id}
        </if>
        order by id desc
        limit #{limit}
    </select>

    <select id="insert" resultMap="BaseResultMap">
        INSERT INTO his_msg (type, msg, role, create_time, update_time)
        VALUES (#{type}, #{msg}, #{role}, datetime(), datetime())
        returning
        <include refid="Base_Column_List"/>
    </select>

    <select id="update" resultMap="BaseResultMap">
        update his_msg
        set msg = #{msg},
            role = #{role},
            update_time = datetime()
        where id = #{id}
        returning
        <include refid="Base_Column_List"/>
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_msg
        limit #{size} offset #{offset}
    </select>

    <select id="count" resultType="long">
        select count(*)
        from his_msg
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_msg
        where id = #{id}
    </select>
</mapper>
